html {
    background: linear-gradient(180deg, rgba(20,18,18,1) 49%, rgba(0,0,0,1) 100%);
}

.App {
    text-align: center;
}

.App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/*******LOGIN&REGISTER*********/

.login_form{
    width: 50%;
    margin: 100px auto;
}

.login_div{
    width: 50%;
    background: linear-gradient(180deg, rgba(150,146,146,1) 0%, rgba(255,255,255,1) 50%, rgba(156,153,153,1) 100%);
    padding: 10px;
}

.login_buttons{
    width: 100%;
}

.login_container{
    display: flex;
    flex-direction: row;
}

/*******HOME*********/
.home_cards {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}

.home_card {
    width: 25%;
    animation-duration: 3s;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(180deg, rgba(150,146,146,1) 0%, rgba(255,255,255,1) 50%, rgba(156,153,153,1) 100%);
}

.home_card:hover {
    animation-name: bounce;
}

.intro_card{
    width: 70%;
    height: 150px;
    margin: 50px auto;
    background: linear-gradient(180deg, rgba(150,146,146,1) 0%, rgba(255,255,255,1) 50%, rgba(156,153,153,1) 100%);
}


/*******BOOKS*********/
.book_cards {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    flex-grow: 1;

}
.book_card {
    margin: 50px auto 0 auto;
    width: 250px;
    height: 500px;
    animation-duration: 1.5s;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.book_card:hover {
    animation-name: bounce;
}

.books_filter{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.books_form{
    display: flex;
    flex-direction: row;
}

.books_filter_buttons{
    justify-content: left;
    width: 50%;
    margin: auto 0 auto 0;
}


.form_bg{
    padding-top: 15px;
    background: linear-gradient(180deg, rgba(150,146,146,1) 0%, rgba(255,255,255,1) 50%, rgba(156,153,153,1) 100%);
}

.content_bg{
    background: linear-gradient(180deg, rgba(20,18,18,1) 49%, rgba(0,0,0,1) 100%);
}

/*******BOOKS DETAILS*********/
.div_details{
    min-height: 940px;
}
.card_info{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: fit-content;
    margin: 50px auto 0 auto;


}

.accordion_div{
    margin: 0 auto 0 auto;
    width: 100%;
}

.presentation_div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: #e2e2e2;
}
.box_info{
    width: 60%;
    padding: 15px;
    background-color: #e2e2e2;
}

.book_infos{
    text-align: left;
    height: 50px;
    border-bottom: gray;
}

/*******CHARACTERS*********/

.pagination{
    background-color: lightgrey;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-15px)
    }
}






